.mx_icon {
    display: inline-block;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% auto;
}

.mx_DeleteRoom_icon{
    mask-size: 14px 16px;
}

.mx_LeaveRoom_icon {
    mask-size: 20px 20px;
}