.mx_RoomNotification_icon {
    &.mx_RoomNotificationContextMenu_iconBell::before {
        mask-image: url("$(res)/img/element-icons/notifications.svg");
    }
    &.mx_RoomNotificationContextMenu_iconBellDot::before {
        width: 16px;
        height: 16px;
        mask-image: url("$(res)/img/element-icons/roomlist/notifications-default.svg");
    }
    &.mx_RoomNotificationContextMenu_iconBellMentions::before {
        width: 16px;
        height: 18px;
        mask-image: url("$(res)/img/element-icons/roomlist/notifications-dm.svg");
    }
    &.mx_RoomNotificationContextMenu_iconBellCrossed::before {
        width: 18px;
        height: 18px;
        mask-image: url("$(res)/img/element-icons/roomlist/notifications-off.svg");
    }
}

