.mx_SendDMContextMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    text-align: center;
    .mx_UserInfo_avatarBox {
        margin: 0 auto;
    }
    .mx_UserInfo_mainInfo {
        padding-top: 0;
    }

    hr {
        height: 1px;
        background: $menu-item-divider-color;
        border: none;
    }
}