.mx_DeleteSpace_confirmName {
    margin-bottom: 20px;
    padding: 16px 12px;
    border-radius: 8px;
    background: $background-primary1-secondary-color4;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $text-secondary-color1;
    & > b {
        font-weight: 500;
        color: $text-primary-color2;
    }
}