.mx_DeleteSpace_confirmName {
    margin-bottom: 20px;
    padding: 16px 12px;
    border-radius: 8px;
    background: $background-warning-color1;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $text-primary-color5;
    & > b {
        padding: 0 2px;
        font-weight: 500;
    }
}