// 删除分组二次确认
.mx_DeleteGroupConfirm_wrap {
    padding: 20px 6px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-normal-bold;
    color: $text-secondary-color1;
    .mx_DeleteConfirm_groupName {
        font-weight: 500;
        color: $text-primary-color3;
    }
}