.mx_CallButton_voiceCall {
    @mixin MaskIcon url("$(res)/img/element-icons/call/voice-call.svg"), 19px, 19px;
}

.mx_CallButton_videoCall {
    @mixin MaskIcon url("$(res)/img/element-icons/call/video-call.svg"), 25px, 16px;
}